@import url('https://fonts.googleapis.com/css2? family= Fira+Sans:ital,wght@1.200 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

main {
    margin-left: 150px;    
    margin-right: 100px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #0C13B6,#1CD397);
    height: 12vh;
    position: fixed;
    top: 0vh;
    width: 100%;
}

.logotipo {
    margin-right: -200px;
    height: 75px;
    width: 90px;
}

    
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer
}

.mobile-menu div {
    width: 32px;
    height: 2px;;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-image: linear-gradient(to top, #0C13B6,#1CD397);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.vila1 {
    font-family: 'Inter2', sans-serif;
    color: #0C13B6;
    margin-left: 30px;
}

.hr1 {
    height: 1px;
    width: 1000px;
    background-color: #0C13B6;
}

.article1 {
    border: solid black 1px;
    height: 380px;
    width: 433px;
    margin-left: 15px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: bold;    
    float: right;
}

.imagem1 {
    height: 50vh;
    margin-left: -5px;
    margin-top: 6px;
}

.texto1 {
    font-family: 'Poppins';
    font-size: 16px;
}

.texto2 {
    font-family: 'Poppins';
    font-size: 16px;
}

.article2 {
    border: solid black 1px;
    height: 505px;
    width: 930px;
    margin-left: 50px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
       
}

.imagem2 {
    height: 70vh;
    margin-left: -5px;
    margin-top: 6px;
}

.imagem3 {
    height: 70vh;
    margin-left: 180px;
    margin-top: 6px;
    border: solid black 1px;
}

.imagem4 {
    height: 500px;
    margin-left: 100px;
    border: solid black 2px;
}

.rodapé {
    height: 200px;
    background-image: linear-gradient(to left, #0C13B6, #10b17b);
}

.logorodape {
    height: 70px;
    margin-left: 75px;
    float: left;
    margin-right: 10px;
}

.vilarodape {
    padding-top: 23px;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: white;
    font-size: 17px;
}

.redessociais {
    float: right;
    height: 50px;
    margin-top: -35px;
}

.linharodape {
    background-color: white;
    margin-top: 40px;
    width: 90%;
    margin-left: 60px;
}

.copr {
    font-family: 'Poppins';
    color: white;
    text-align: center;
    margin-top: 80px;
}