@import url('https://fonts.googleapis.com/css2? family= Fira+Sans:ital,wght@1.200 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #0C13B6,#1CD397);
    height: 12vh;
    position: fixed;
    top: 0vh;
    width: 100%;
}

.logotipo {
    margin-right: -200px;
    height: 75px;
    width: 90px;
}

    
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer
}

.mobile-menu div {
    width: 32px;
    height: 2px;;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-image: linear-gradient(to top, #0C13B6,#1CD397);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.vila1 {
    font-family: 'Inter2', sans-serif;
    color: black;
    margin-left: 450px;
    font-family: 'Poppins';
}

.hr1 {
    height: 1px;
    width: 1000px;
    background-color: black;
    margin-left: 180px;
    margin-bottom: 50px;
}

.texto1 {
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Poppins';
    text-align: center;
}

.mapa {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: -3;
    margin-bottom: -20px;
}


.contornomap {
    height: 454px;
    width: 1004px;
    background-color: none;
    border: solid black 1px;
    margin-left: 177px;
    border-radius: 20px;    
    z-index: -3;
    margin-top: -530px;
}

.bleble {
    height: 20px;
}

.mapia {
    width: 100%;
    height: 570px;
    background-image: linear-gradient(to right, #0C13B6, #10b17b);
}

.ble {
    height: 50px;
}

.icons {
    height: 470px;
}

.user2 {
    height: 350px;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 80px;
    float: left;
}

.urba {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 20px;
    font-size: 21px;
    width: 1220px;
}


.user3 {
    height: 350px;
    margin-left: 70px;
    margin-top: -40px;
    margin-right: 30px;
}

.contornouser3 {
    height: 300px;
    width: 35%;
    border-radius: 20px;
    margin-left: -50px;
    float: right;
    margin-right: 25px
}

.linhasinha{
    height: 1px;
    width: 1000px;
    margin-left: 130px;
    background-color: black;
}

.informações {
    height: 500px;
    background-image: linear-gradient(to left, #284AC0, #521A99);
}

.lista {
    font-family: 'Poppins';
    color: white;
    margin-left: 250px;
    padding-top: 150px;
    margin-bottom: 25px;

}

.user8 {
    float: right;
    margin-right: 100px;
    padding-top: 180px;
    height: 250px;
}

ol {
    margin-left: 300px;
    font-family: 'Poppins';
    color: white;
}

.graficos {
    height: 1580px;
    background-image: linear-gradient(to bottom, #0C13B6, #FE6161);
}

.titulosgraficos {
    margin-left: 50px;
    padding-top: 50px;
    color: white;
    font-family: 'Poppins';
}

.grafi {
    height: 380px;
    width: 1200px;
    margin-left: 50px;
}

.rodapé {
    height: 200px;
    background-image: linear-gradient(to left, #0C13B6, #10b17b);
}

.logorodape {
    height: 70px;
    margin-left: 75px;
    float: left;
    margin-right: 10px;
}

.vilarodape {
    padding-top: 23px;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: white;
    font-size: 17px;
}

.redessociais {
    float: right;
    height: 50px;
    margin-top: -35px;
}

.linharodape {
    background-color: white;
    margin-top: 40px;
    width: 90%;
    margin-left: 60px;
}

.copr {
    font-family: 'Poppins';
    color: white;
    text-align: center;
    margin-top: 80px;
}